extends ../layouts/layout

block content
  br  
  div.row
    div.col-sm-4
      div.card
        img.card-img-top(src="https://images.pexels.com/photos/40797/wild-flowers-flowers-plant-macro-40797.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", alt="Card image cap")
        div.card-block
          h4.card-title Card title
          p.card-text.description Some quick example text to build on the card title and make up the bulk of the card's content.
          p.price $10
          a.btn.btn-primary.float-right(href="#") Buy
    div.col-sm-4
      div.card
        img.card-img-top(src="https://images.pexels.com/photos/40797/wild-flowers-flowers-plant-macro-40797.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", alt="Card image cap")
        div.card-block
          h4.card-title Card title
          p.card-text.description Some quick example text to build on the card title and make up the bulk of the card's content.
          p.price $10
          a.btn.btn-primary.float-right(href="#") Buy
    div.col-sm-4
      div.card
        img.card-img-top(src="https://images.pexels.com/photos/40797/wild-flowers-flowers-plant-macro-40797.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", alt="Card image cap")
        div.card-block
          h4.card-title Card title
          p.card-text.description Some quick example text to build on the card title and make up the bulk of the card's content.
          p.price $10
          a.btn.btn-primary.float-right(href="#") Buy
  br
  div.row
    div.col-sm-4
      div.card
        img.card-img-top(src="https://images.pexels.com/photos/40797/wild-flowers-flowers-plant-macro-40797.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", alt="Card image cap")
        div.card-block
          h4.card-title Card title
          p.card-text.description Some quick example text to build on the card title and make up the bulk of the card's content.
          p.price $10
          a.btn.btn-primary.float-right(href="#") Buy
    
    div.col-sm-4
      div.card
        img.card-img-top(src="https://images.pexels.com/photos/40797/wild-flowers-flowers-plant-macro-40797.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", alt="Card image cap")
        div.card-block
          h4.card-title Card title
          p.card-text.description Some quick example text to build on the card title and make up the bulk of the card's content.
          p.price $10
          a.btn.btn-primary.float-right(href="#") Buy
    div.col-sm-4
      div.card
        img.card-img-top(src="https://images.pexels.com/photos/40797/wild-flowers-flowers-plant-macro-40797.jpeg?w=940&h=650&auto=compress&cs=tinysrgb", alt="Card image cap")
        div.card-block
          h4.card-title Card title
          p.card-text.description Some quick example text to build on the card title and make up the bulk of the card's content.
          p.price $10
          a.btn.btn-primary.float-right(href="#") Buy
 


